# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\수업\212\컴퓨터비전\challenge02_Image Classification with Semi-Supervised Learning\FixMatch-pytorch-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
